name: clipmunk
description: A chipmunk-fast cross-platform paste toolbox with retro-futuristic 16-bit UI.
publish_to: 'none'
version: 1.0.1+2

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  hotkey_manager: ^0.2.3
  system_tray: ^2.0.3
  window_manager: ^0.3.8
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  path_provider: ^2.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
